source http://nuget.org/api/v2

nuget FAKE ~> 3.5
nuget FAKE.Core ~> 3.5
nuget FSharp.Core
nuget FSharp.Data ~> 2.0
nuget Unquote ~> 2.2
nuget Nuget.CommandLine
nuget AutoFixture.AutoFoq
nuget AutoFixture.xUnit
nuget AutoFixture ~> 3.20
nuget xunit
nuget xunit.runners
